
@using ToDoApp.Models.Entities
@model IEnumerable<ToDo>
@{
    ViewData["Title"] = "Home Page";
    var totalToDos= @Model.Count();
    var totalIncompleteToDos = @Model.Where(p=>p.IsCompleted==false).Count();
    var totalCompletedTodos = totalToDos-totalIncompleteToDos;
}



<p class='link link-info'>Total Todos #@totalToDos</p>
<p class='link link-warning'>Total Incomplete ToDos #@totalIncompleteToDos</p>
<p class='link link-success'>Total Completed ToDos #@totalCompletedTodos</p>

<a class="btn btn-primary">Add ToDo</a>

<table class = 'table table-responsive table-striped table-sm'>
    <thead>
        <tr>
            <th>Id</th>
            <th>Description</th>
            <th>Is Completed ?</th>
            <th>Completion Date</th>
        </tr>
    </thead>
    <tbody>        
            @foreach(var item in Model){
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Detail</td>
                    <td>@(item.IsCompleted ? "Yes" : "No")</td>
                    <td>@(item.CompletionDate.HasValue == true? item.CompletionDate.Value.ToShortDateString(): string.Empty)</td>
                </tr>
            }
        
    </tbody>
</table>